<header class="fixed top-0 left-0 w-full bg-gray-950/70 backdrop-blur-md text-white px-6 py-4 flex justify-between items-center shadow-lg z-50">
  <!-- <h2 class="text-2xl font-bold text-cyan-400 tracking-wide">Lautaro.dev</h2> -->

  <!-- Botón Hamburguesa (solo visible en mobile) -->
  <button class="md:hidden text-cyan-400 focus:outline-none" (click)="toggleMenu()">
    ☰
  </button>

  <!-- Menú -->
  <nav [class.hidden]="!menuOpen" class="absolute top-16 left-0 w-full bg-gray-900 md:bg-transparent md:static md:flex md:space-x-8 p-4 md:p-0">
    <a class="block py-2 md:py-0 hover:text-cyan-400 transition" href="#about">Sobre mí</a>
    <a class="block py-2 md:py-0 hover:text-cyan-400 transition" href="#projects">Proyectos</a>
    <a class="block py-2 md:py-0 hover:text-cyan-400 transition" href="#contact">Contacto</a>
  </nav>
</header>
