<section id="about" class="py-20 px-6 bg-gray-900 text-center">
    <h2 class="text-4xl font-bold text-cyan-400 mb-6">Sobre mí</h2>
    <p class="max-w-3xl mx-auto text-gray-300 text-lg leading-relaxed mb-6">
        Soy un apasionado del desarrollo de software con experiencia en frontend y backend. Actualmente trabajo desarrollador Full Stack utilizando lo siguiente: 
        Me gusta crear soluciones elegantes, escalables y modernas.
    </p>
    
    <span class="cormorant">Herramientas</span>
    <hr style="
    margin-bottom: 20px;
    height: 4px;
    border: none;
    width: 300px;
    margin: auto;
    background-color: #00e5ff; /* celeste fuerte */
    box-shadow: 0 0 10px #00e5ff, 
    0 0 20px #00e5ff, 
    0 0 40px #00e5ff;
    border-radius: 5px;
    ">
    <br style="margin-top: 9px;">
    
    <ul class="skills-grid max-w-3xl mx-auto">
        
        <li>Angular</li>
        <li>Node.js</li>
        <li>TypeScript</li>
        <li>Vs Studio</li>
        <li>Html y Css</li>
        
         <li>Maven</li> 
        <li>Spring</li>
        <li>IntelliJ</li>
        <li>PostgreSQL</li>
        <li>Java</li>
        <li>Git</li>
        <li>Github</li>
        <!-- <br><br><br> -->
    </ul>
    <!-- <br style="margin-top: 9px;">
    <span class="cormorant">Backend</span>
      <hr style="
    margin-bottom: 20px;
    height: 4px;
    border: none;
    width: 1000px;
    margin: auto;
    background-color: #00e5ff; /* celeste fuerte */
    box-shadow: 0 0 10px #00e5ff, 
    0 0 20px #00e5ff, 
    0 0 40px #00e5ff;
    border-radius: 5px;
    ">
    <ul class="skills-grid max-w-3xl mx-auto">
        
        <li>Maven</li> 
        <li>Spring</li>
        <li>IntelliJ</li>
        <li>PostgreSQL</li>
        <li>Java</li>
    </ul> 
    <br style="margin-top: 9px;">
        <span class="cormorant">Repositorio</span>
      <hr style="
    margin-bottom: 20px;
    height: 4px;
    border: none;
    width: 1000px;
    margin: auto;
    background-color: #00e5ff; /* celeste fuerte */
    box-shadow: 0 0 10px #00e5ff, 
    0 0 20px #00e5ff, 
    0 0 40px #00e5ff;
    border-radius: 5px;
    ">
    <ul class="skills">
        
        <li>Github</li>  
    </ul>  -->
    
    
    
    
    
</section>
