<section class="hero">
    <div class="hero-content">
        <h1>Hola, soy <span>Lautaro Avila</span></h1>
        <p>Desarrollador Fullstack especializado en Angular, Spring boot, Java y PostgreSQL.</p><br><br><br><br><br>
        <!-- <button (click)="botton()">Ver proyectos</button>
        -->
        <!-- From Uiverse.io by cssbuttons-io --> 
        <button (click)="botton()">Proyectos
        </button>
        
    </div>
    
  <div class="hero-photo tooltip">
  <a href="https://ar.linkedin.com/in/lautaro-avila-31307b19a" target="_blank" rel="noopener noreferrer">
    <app-profile-photo></app-profile-photo>
  </a>
  <span class="tooltip-text">Ver perfil en LinkedIn</span>
</div>

</section>
