<section id="projects" class="py-20 px-6 bg-gray-950">
  <h2 class="text-4xl font-bold text-center text-cyan-400 mb-10">Proyectos</h2>

  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
    <div class="bg-gray-900 rounded-2xl shadow-lg p-6 hover:scale-105 transition">
      <h3 class="text-2xl font-bold mb-3">Sistema de Reclamos</h3>
      <p class="text-gray-400 mb-4">Formulario de reclamos que carga datos de usuario, y luego realiza un envío de mail con todos los datos que se han ingresado. Incorpora animaciones y lógicas para verificación de bots. Hecho en Angular, PHP y PostgrSQL</p>
      <a href="https://charming-figolla-19f6b5.netlify.app/" target="_blank" class="text-cyan-400 hover:underline">Ver aquí →</a>
    </div>

    <div class="bg-gray-900 rounded-2xl shadow-lg p-6 hover:scale-105 transition">
      <h3 class="text-2xl font-bold mb-3">Sistema de gestión para canchas de futbol</h3>
      <p class="text-gray-400 mb-4">Sistema creado como tesis de facultad. Puesto en producción en el año 2023. Permite la creación y administración de jugadores a través de la creación de usuarios. Hecho con Angular, Intellij idea y PostgreSQL</p>
      <a href="https://musical-sprinkles-1ccd56.netlify.app/" target="_blank" class="text-cyan-400 hover:underline">Ver aquí →</a>
    </div>
 
  
    <div class="bg-gray-900 rounded-2xl shadow-lg p-6 hover:scale-105 transition">
      <h3 class="text-2xl font-bold mb-3">Sistema de Consulta para Subsidios</h3>
      <p class="text-gray-400 mb-4">Sistema en el que el usuario ingresa su numero de suministro y se consulta en un Google Sheets para verificar si le corresponde o no un subsidio del estado. Además incluye otra opción para ciertos registros, en el que lo envía al usuario a un formulario de carga en carácter de declaración jurada. y luego se envían sus datos por correo electrónico. Hecho en Angular, PHP y API de google </p>
      <a href=" https://papaya-cat-33c4d2.netlify.app/" target="_blank" class="text-cyan-400 hover:underline">Ver aquí →</a>
    </div>
     </div>
 <br>
</section>
